server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**

        - id: verify-service
          uri: lb://verify-service
          predicates:
            - Path=/api/v1/verify/**

        - id: auth-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/auth/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      default-zone: http://localhost:8761/eureka