server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:h2:mem:user-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      default-zone: http://localhost:8761/eureka

  security:
    oauth2:
      resourceserver:
        jwt:
          jws-algorithm: HS512

jwt:
  secret: lPWJKrXiEXrcS_QHP6HUy0Lb3UUFsWVReyI5JqhXK52wzi6t33zB6a4RgAncJb4EFmrrj4x6Rn0NaW084DU2PQ
  access-token-expiration: 900
  refresh-token-expiration: 604800

